nav.wal {
	position: relative;
	margin-top: 20px;
	width: 590px;
	height: 50px;
	background-color: #00253f;
	border-radius: 8px;
	font-size: 0;
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.4);
}
.aa {
	text-transform: none;
	font-size: 20px;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 140px;
}
a:nth-child(2) {
	width: 140px;
}
a:nth-child(3) {
	width: 140px;
}
a:nth-child(4) {
	width: 140px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 130px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 180px;
	left: 120px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 150px;
	left: 280px;
	background-color: #3498db;
}

nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 180px;
	left: 410px;
	background-color: #9b59b6;
}


body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
span {
    color: #2BD6B4;
}