{% extends "layout.html" %}
{% block content %}
<nav class="wal">
    <a href="#">Class 01</a>
    <a href="#">Class 02</a>
    <a href="#">Class 03</a>
    <a href="#">Class 04</a>
    <div class="animation start-home"></div>
</nav>
<br>
<br>
<article class="leaderboard">
  <header>
    <h1 class="leaderboard__title"><span class="leaderboard__title--top">Class 1</span><span class="leaderboard__title--bottom">Studens</span></h1>
  </header>
  <main class="leaderboard__profiles">
    <article class="leaderboard__profile">
      <span class="leaderboard__value2">2-</span>
      <span class="leaderboard__name">Mark Zuckerberg</span>
      <span class="leaderboard__value">20<span>yo</span></span>
    </article>
  </main>
</div>
</article>
{% endblock content %}