{% extends "layout.html" %}
{% block content %}
<nav class="wal">
    <a href="./sclass1">Class 01</a>
    <a href="./sclass2">Class 02</a>
    <a href="./sclass3">Class 03</a>
    <a href="./sclass4">Class 04</a>
    <div class="animation start-home"></div>
</nav>
<br>
<br>
<article class="leaderboard">
  <header>
    {% if current_user.is_authenticated %}
    <h1 class="leaderboard__title"><span class="leaderboard__title--top">Welcome to {{ name }}'s school</span><span class="leaderboard__title--bottom">with OrgSchool</span></h1>
    {% else %}
    <h1 class="leaderboard__title"><span class="leaderboard__title--top">Welcome to Your school</span><span class="leaderboard__title--bottom">with OrgSchool</span></h1>
    {% endif %}
  </header>
  
</div>
</article>
{% endblock content %}