{% extends "layout.html" %}
{% block content %}
<nav class="wal">
    <a href="./sclass1">Class 01</a>
    <a href="./sclass2">Class 02</a>
    <a href="./sclass3">Class 03</a>
    <a href="./sclass4">Class 04</a>
    <div class="animation start-home"></div>
</nav>
<br>
<br>
<article class="leaderboard2">
    <header>
      <h1 class="leaderboard__title"><span class="leaderboard__title--top">Class 4</span><span class="leaderboard__title--bottom">Teachers</span></h1>
    </header>
    {% if current_user.is_authenticated %}
    <button class="adding">Add teacher
      <div class="main">
        <label class="menu-button-wrapper" for="">
          <input type="checkbox" class="menu-button">
          <div class="icon-wrapper">
            <label class="hamburger">
            </label>
          </div>
          <div class="item-list">
            <div class="container2">
              <form action="/sclass4" method="post" class="inputs">
                <input type="text" name="name" placeholder="Name" class="name">
                {% if current_user.is_authenticated %}
                <input type="hidden" name="sclass_id" value="{{ sclass_id }}" class="sclass_id">
                {% else %}
                <input type="hidden" name="sclass_id" value="default_value" class="sclass_id">
                {% endif %}
                <input type="submit" value="Add teacher" class="sub2">
              </form>
            </div>
          </div>
        </label>
      </div>
    </button>
    <button style="--c:#E95A49" class="deleting">Delete teacher
      <div class="main">
        <label class="menu-button-wrapper" for="">
          <input type="checkbox" class="menu-button">
          <div class="icon-wrapper">
            <label class="hamburger">
            </label>
          </div>
          <div class="item-list">
            <div class="container3">
              <form action="/sclass4" method="post" class="inputs">
                <input type="number" name="number" placeholder="Number" class="number">
                {% if current_user.is_authenticated %}
                <input type="hidden" name="sclass_id" value="{{ sclass_id }}" class="sclass_id">
                {% for teacher in teachers %}
                <input type="hidden" name="teachers" value="{{ teacher }}" class="teacher">
                {% endfor %}
                {% else %}
                <input type="hidden" name="sclass_id" value="default_value" class="sclass_id">
                {% endif %}
                <input type="submit" value="Delete teacher" class="sub3">
              </form> 
            </div>
          </div>
        </label>
      </div>
    </button>
    {% endif %}
    <main class="leaderboard__profiles">
      {% if current_user.is_authenticated %}
      {% for teacher in teachers %}
      {% if teacher.admin_id == admin_id %}
      <article class="leaderboard__profile">
        <span class="leaderboard__value2">{{ loop.index }}</span>
        <span class="leaderboard__name">{{ teacher.name }}</span>
      </article>
      {% endif %}
      {% endfor %}
      {% else %}
    <article class="leaderboard__profile">
      <span class="leaderboard__value2"></span>
      <span class="leaderboard__name">You are not logged in <br>Please login to see the teachers</span>
      <span class="leaderboard__value"></span>
    </article>
    {% endif %}
    </main>
  </div>
  </article>
<article class="leaderboard">
  <header>
    <h1 class="leaderboard__title"><span class="leaderboard__title--top">Class 4</span><span class="leaderboard__title--bottom">Studens</span></h1>
  </header>
  {% if current_user.is_authenticated %}
  <button class="adding">add student
    <div class="main">
      <label class="menu-button-wrapper" for="">
        <input type="checkbox" class="menu-button">
        <div class="icon-wrapper">
          <label class="hamburger">
          </label>
        </div>
        <div class="item-list">
          <div class="container2">
            <form action="/sclass4" method="post" class="inputs">
              <input type="text" name="name" placeholder="Name" class="name2">
              <input type="number" name="age" placeholder="Age" class="age">
              {% if current_user.is_authenticated %}
              <input type="hidden" name="sclass_id" value="{{ sclass_id }}" class="sclass_id">
              <input type="hidden" name="sclass_id" value="{{ admin_id }}" class="admin_id">
              {% else %}
              <input type="hidden" name="sclass_id" value="default_value" class="sclass_id">
              {% endif %}
              <input type="submit" value="Add student" class="sub4">
            </form>
          </div>
        </div>
      </label>
    </div>
  </button>
  <button style="--c:#E95A49" class="deleting">delete student
    <div class="main">
      <label class="menu-button-wrapper" for="">
        <input type="checkbox" class="menu-button">
        <div class="icon-wrapper">
          <label class="hamburger">
          </label>
        </div>
        <div class="item-list">
          <div class="container3">
            <form action="/sclass4" method="post" class="inputs">
              <input type="number" name="number" placeholder="Number" class="number2">
              {% if current_user.is_authenticated %}
              <input type="hidden" name="sclass_id" value="{{ sclass_id }}" class="sclass_id">
              {% for student in students %}
              <input type="hidden" name="students" value="{{ student }}" class="student">
              {% endfor %}
              {% else %}
              <input type="hidden" name="sclass_id" value="default_value" class="sclass_id">
              {% endif %}
              <input type="submit" value="Delete student" class="sub5">
            </form>
          </div>
        </div>
      </label>
    </div>
  </button>
  {% endif %}
  <main class="leaderboard__profiles">
    {% if current_user.is_authenticated %}
      {% for student in students %}
      {% if student.admin_id == admin_id %}
      <article class="leaderboard__profile">
      <span class="leaderboard__value2">{{ loop.index }}</span>
      <span class="leaderboard__name">{{ student.name }}</span>
      <span class="leaderboard__value">{{ student.age }}<span>yo</span></span>
      </article>
      {% endif %}
      {% endfor %}
    {% else %}
    <article class="leaderboard__profile">
      <span class="leaderboard__value2"></span>
      <span class="leaderboard__name">You are not logged in <br>Please login to see the students</span>
      <span class="leaderboard__value"></span>
    </article>
    {% endif %}
  </main>
</div>
</article>
{% endblock content %}