<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HBNB</title>
  </head>
  <body>
    {% if (found == 1) %}
    <h1>Class: {{ class }}</h1>
    <h3>Cities:</h3>
    <ul>
      {% for student in array %}
      <li>{{ student.id }}: <b>{{ student.name }}</b></li>
      {% endfor %}
    </ul>
    {% elif found == 0 %}
    <h1>Classs</h1>
    <ul>
      {% for class in array %}
      <li>{{ class.id }}: <b>{{ class.name }}</b></li>
      {% endfor %}
    </ul>
    {% else %}
    <h1>Not found!</h1>
    {% endif %}
  </body>
</html>
